* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    text-align: center;
    padding: 20px 35px;
}
header h1{
    
    font-size: 36px;
    color: white;
    display: inline;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

#main-bio {
    float: left;
    width: 70%;
}

#main-bio p {
    float: right;
    
}
.contact-info {
    float: right;
    width: 30%;
}